body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5em;
}

.footer-container {
    color: rgb(255, 255, 255);
    padding-top: 10px;
}

.footer-container i {
    color: #fff;
    font-size: 130%;
}
.hero-image {
    height: 600px;
}

.jumbotron {
    background: url('../images/ben-garratt-OMFtBJb8kgg-unsplash.jpg') no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* --------------- Reasons --------------- */

.reasons h1 {
    font-family: 'Roboto', sans-serif;
    color: #343a40;
    font-weight: bold;
    margin-bottom: 20px;
}

.reasons h3 {
    font-family: 'Roboto', sans-serif;
}


/* --------------- Quotes --------------- */

.container-colored {
    background-color: #B2442E;
    color: rgb(255, 255, 255);
}

.quotes h2 {
    font-family: 'Roboto', sans-serif;
    margin: 30px 0;
}
.media {
    margin-bottom: 10px;
}
.blockquote {
    margin-top: 10px;
}

.contact {
    background-color: #DFE2E0;
}

.contact iframe {
    margin-top: 20px;
}