@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5em;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

/* --------------- Containers --------------- */

.navbar-container {
    padding-left: 0;
    padding-right: 0;
}

.hero-image-container {
    height: 600px;
    background: url('../images/latte-art-1920px.jpg') no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    vertical-align: middle;
}

.about-container {
    height: 600px;
    background: url('../images/espresso-machine-1920px.jpg') no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-orange {
    background-color: #B2442E;
    color: rgb(255, 255, 255);
}

.not-found-container {
    background-color: #FAF9F9;
}

.footer-container {
    color: rgb(255, 255, 255);
    padding-top: 20px;
}

/* --------------- Jumbotrons --------------- */

.index-jumbotron h1 {
    background-color: transparent;
    color: #343A40;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* found this method at https://css-tricks.com/centering-css-complete-guide/ */
}

.about-jumbotron h1 {
    background-color: transparent;
    color: #517690;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: 600;
}

/* --------------- Reasons --------------- */

.reasons h2 {
    color: #343A40;
    font-weight: bold;
    margin-bottom: 20px;
}

.reasons h3 {
    font-weight: bold;
}

/* --------------- Quotes --------------- */

.quotes h2 {
    margin: 30px 0;
}
.media {
    margin-bottom: 10px;
}
.blockquote {
    margin-top: 10px;
}

/* --------------- About --------------- */

.light-blue {
    background-color: #F2F6F8;
}

.table-overview {
    margin-top: 20px;
}

.light-blue h2 {
    color: #517690;
    margin: 20px 0;
}

.overview h2 {
    color: #517690;
}

.mailing-list h2 {
    color: #517690;
}
.subscribe input {
    font-size: 1em;
}

.btn-subscribe {
    background-color: #517690;
    color: #fff;
    font-size: 1em;
    margin: 10px 0;
}

.btn-subscribe:hover {
    background-color: #fff;
    color: #517690;
    border: 1px solid #517690;
}

/* --------------- Courses --------------- */

.courses h1 {
    color: #84190B;
    font-weight: bold;
    margin: 15px 0 20px 0;
}

.course-details h2 {
    color: #84190B;
}

.badge-course {
    font-size: 1em;
    color:#84190B;
    border: 1px groove #84190B;
}

.badge-cert {
    font-size: 1em;
    color:#84190B;
    border: 1px groove #84190B;
}

.course-details {
    margin-bottom: 10px;
}

.progress {
    height: 2rem;
    font-size: larger;
    margin-bottom: 3px;
}

.btn-register {
    background-color: #84190B;
    color: #fff;
    font-size: 1em;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #343a40;
}

/* --------------- Register-Modal --------------- */

.modal-body h4 {
    margin-top: 1.2rem;
}

.customer-info label {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    color: #84190B;
}

.modal-body button {
    font-size: 1em;
}

.modal-body input {
    font-size: 1em;
}

.modal-body label {
    font-size: 1em;
}

/* --------------- Contact form --------------- */

.contact {
    background-color: #F2F6F8;
}

.contact h1 {
    margin-top: 20px;
    color: #B2442E;
}

.contact h2 {
    margin-bottom: 2px;
}

.contact-form-colored label {
    color:#B2442E;
}

.contact-form-colored input {
    font-size: 1em;
}

.btn-contact {
    background-color: #B2442E;
    color: #fff;
    font-size: 1em;
}

.btn-contact:hover {
    background-color: #fff;
    color: #B2442E;
    border: 1px solid #B2442E;
}

.contact iframe {
    padding: 20px 0;
}

/* --------------- Not found --------------- */

.not-found {
    color: #343A40;
    background-color: #FAF9F9;
}

.not-found-container img {
    width: 50%;
    margin: auto;
    display: block;
}

.lost {
    padding-top: 20px;
}

.home {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin: 20px 0;
}

/* --------------- Footer --------------- */

.footer-container i {
    color: #fff;
    font-size: 130%;
}

/* --------------- Media Queries --------------- */

@media(max-width: 370px) {
    .footer-container i {
        font-size: 120%;
    }
}

@media(max-width: 425px) {
    .index-jumbotron h1 {
        font-size: smaller;
    }

    .hero-image-container {
        background: url('../images/latte-art-380px.jpg') no-repeat 50% 50%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .about-container {
        background: url('../images/espresso-machine-380px.jpg') no-repeat 50% 50%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}

@media(min-width: 1024px) {
    .about-jumbotron h1 {
        font-size: 2em;
    }
}

@media(min-width: 1280px) {
    .index-jumbotron h1 {
        font-size: 2.5em;
    }
    .blockquote {
        font-size: 1em;
    }
}

@media(min-width: 2560px) {
    body {
        font-size: 2em;
    }

    .index-jumbotron h1 {
        font-size: 3em;
    }

.progress {
    height: 3.5rem;
}

    .modal-body button {
        font-size: 1.2em;
    }

    .modal-body input {
        font-size: 1.2em;
    }

    .modal-body label {
        font-size: 1.2em;
    }
}